@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply bg-dark-bg;
  }

  body {
    @apply bg-dark-bg text-gray-300 antialiased selection:bg-brand selection:text-black font-sans min-h-screen;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

/* Custom scrollbar for Web3 feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFD30D;
}